<h1>{{title}}</h1>

<div>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" [(ngModel)]="nombre">
</div>

<div>
    <label for="sexo">Hombre</label>
    <input type="radio" name="sexo" value="Hombre" [(ngModel)]="sexo">
    <label for="sexo">Mujer</label>
    <input type="radio" name="sexo" value="Mujer" [(ngModel)]="sexo">
</div>
<div>
    <button (click)="decrementarAltura()">-</button>
    <span>{{altura}} cm</span>
    <button (click)="incrementarAltura()">+</button>
</div>
<div>
    <button (click)="decrementarPeso()">-</button>
    <span>{{peso}} kg</span>
    <button (click)="incrementarPeso()">+</button>
</div>

<div><button type="button" (click)="reset()">Resetear</button>
    <button type="button" (click)="mandarDatos()">Calcular</button></div>

<h2>{{diagnostico}}</h2>

<app-calculadora 
    [nombre]="nombre"
    [sexo]="sexo"
    [altura]="altura"
    [peso]="peso"
    (diagnosticoEnviado)="set_diagnostico($event)"
></app-calculadora>